.idea/
tmp/

.env

.csv
.xlsx
account.csv
account.xslx
account_full.xlsx

# Ignore config files except config.test.json and config.sample.json
config.json
config.*.json
!config.test.json
!config.sample.json
