[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
zksync2 = "*"
requests = "*"
python-dotenv = "*"
python-json-config = "*"
pytest = "*"

eip712_structs = "*"
eth_account = "*"
eth_typing = "*"
eth_utils = "*"
hexbytes = "*"
rlp = "*"
web3 = "*"


[dev-packages]

[requires]
python_version = "3.9"
