[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
zksync2 = "*"
requests = "*"
python-dotenv = "*"
python-json-config = "*"
pytest = "*"
openpyxl = "*"


[dev-packages]

[requires]
python_version = "3.9"
